# Configuración del Servidor
PORT=7860
NODE_ENV=development

# Credenciales de PayPal Developers (https://developer.paypal.com/dashboard/applications/sandbox)
# Modo: 'sandbox' para pruebas, 'live' para producción real
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=tu_paypal_client_id_aqui
PAYPAL_CLIENT_SECRET=tu_paypal_client_secret_aqui

# URL pública de tu aplicación (para Webhooks y retorno)
BASE_URL=

# Clave secreta para firmar tokens criptográficos de descarga
VAULT_SECRET_KEY=clave_secreta_super_segura_para_firmas_hmac_sha256

# Configuración del producto digital
ITEM_PRICE=5.00
ITEM_CURRENCY=USD
